<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Adcash test assignment</h1>
      <h4>Type Tags here using comma, semicolon and line break as delimiters</h4>
      <form [formGroup]="adCashForm" (ngSubmit)="addTags()">
        <div class="form-group">
          <textarea class="form-control" formControlName="tags"></textarea>
          <span *ngIf="adCashForm.controls['tags'].dirty && !adCashForm.controls['tags'].valid">
              <div class="alert alert-fill-danger" role="alert">
                <i class="mdi mdi-alert-circle"></i>
                  Tags is required.
              </div>
            </span>
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="!adCashForm.valid" class="btn btn-primary">
                Add tags
              </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
      <div class="col-md-8 well">
          <div id="collapseBasic"  class="card card-block card-header">
              <div class="well well-lg">
                <div *ngFor="let item of tagsArray; let i = index">
                    <ng-container *ngIf="item < 0; else elseTemplate">
                      <button type="button" class="close" aria-label="Close" (click)="delete(i)">
                          <span class="badge badge-primary" aria-hidden="true">&times; {{ item }}</span>
                        </button>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <button type="button" class="close" aria-label="Close" (click)="delete(i)">
                            <span class="badge badge-danger" aria-hidden="true">&times; {{ item }}</span>
                          </button>
                    </ng-template>
                </div>
              </div>
            </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-8">
        <button type="button" class="btn btn-primary" (click)="openModal(template)">Edit Tags</button>
    </div>
  </div>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="updateAdCashForm" (ngSubmit)="save()">
            <div class="form-group">
              <textarea class="form-control" formControlName="tags"></textarea>
              <span *ngIf="adCashForm.controls['tags'].dirty && !adCashForm.controls['tags'].valid">
                  <div class="alert alert-fill-danger" role="alert">
                    <i class="mdi mdi-alert-circle"></i>
                      Tags is required.
                  </div>
                </span>
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="!updateAdCashForm.valid" class="btn btn-primary">
                    Save
                  </button>
            </div>
          </form>
    </div>
  </ng-template>